<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walker.taskcenter.dao.AppCallLogDao">

    <!-- ============================= INSERT ============================= -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO app_call_log( id,app_id,app_code,action,time,result,exception )
        VALUES ( #{id},#{appId},#{appCode},#{action},#{time},#{result},#{exception})
    </insert>


    <!-- batch insert for mysql -->
    <insert id="saveBatch">
        INSERT INTO app_call_log( id,app_id,app_code,action,time,result,exception )
        VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.appId},#{item.appCode},#{item.action},#{item.time},#{item.result},#{item.exception} )
        </foreach>
    </insert>


    <!-- batch insert for oracle -->
    <!--
    <insert id="saveBatch">
        INSERT INTO app_call_log( id,app_id,app_code,action,time,result,exception )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.appId},#{item.appCode},#{item.action},#{item.time},#{item.result},#{item.exception} 
              FROM DUAL 
        </foreach>
    </insert>

    -->

    <!-- ============================= UPDATE ============================= -->
    <update id="update">
        UPDATE app_call_log
        <set>
            app_id=#{appId},
            app_code=#{appCode},
            action=#{action},
            time=#{time},
            result=#{result},
            exception=#{exception},
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateIgnoreNull">
        UPDATE app_call_log
        <set>
            <if test="appId!= null">app_id=#{appId},</if>
            <if test="appCode!= null">app_code=#{appCode},</if>
            <if test="action!= null">action=#{action},</if>
            <if test="time!= null">time=#{time},</if>
            <if test="result!= null">result=#{result},</if>
            <if test="exception!= null">exception=#{exception},</if>
        </set>
        WHERE id=#{id} 
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        UPDATE app_call_log
        <set>
            <foreach collection="list" item="item" index="index" open="app_id= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.appId}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="app_code= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.appCode}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="action= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.action}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="time= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.time}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="result= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.result}
            </foreach>,
            <foreach collection="list" item="item" index="index" open="exception= CASE id" close="END" separator=" " >
                WHEN #{item.id} THEN #{item.exception}
            </foreach>,
        </set>
        WHERE 
            <foreach collection="list" separator="or" item="item" index="index">
                id=#{item.id}
            </foreach>
    </update>


    <!-- ============================= DELETE ============================= -->
    <delete id="delete">
        DELETE FROM app_call_log
        WHERE id=#{id} 
    </delete>

    <delete id="deleteBatch">
        DELETE FROM app_call_log
        WHERE
        <foreach collection="list" item="item" index="index" open="(" separator="OR" close=")">
            id=#{item.id} 
        </foreach>
    </delete>

    <delete id="deleteByPK">
        DELETE FROM app_call_log
        WHERE id=#{id} 
    </delete>

    <delete id="deleteAll">
        DELETE FROM app_call_log
    </delete>


    <!-- ============================= SELECT ============================= -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM app_call_log
    </select>

    <select id="findByPK" resultType="com.github.walker.taskcenter.vo.AppCallLog">
        SELECT * FROM app_call_log
        WHERE id=#{id} 
    </select>

    <select id="find" resultType="com.github.walker.taskcenter.vo.AppCallLog">
        SELECT id,app_id,app_code,action,time,result,exception
        FROM app_call_log
        <where>
            <if test="appId!= null">
                AND app_id = #{appId}
            </if>
        </where>
        ORDER BY time DESC
    </select>

</mapper>
