<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Typical Web Application</display-name>

    <!-- 为ContextLoaderListener 指定加载的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-mid.xml
        </param-value>
    </context-param>

    <listener>
        <description>用于加载以上contextConfigLocation指定的配置文件</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <listener>
        <description>关闭web时清除javaBeans introspector, 以防内存泄露</description>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>



    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:spring-mid.xml</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>readonly</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- 将匹配以下格式的url请求交以上springmvc处理 -->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
        <!--<url-pattern>*.jhtml</url-pattern>-->
        <!--<url-pattern>*.json</url-pattern>-->
    </servlet-mapping>


    <filter>
        <description>处理字符编码</description>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.github.walker.taskcenter.common.support.SessionFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>http method forbidden</web-resource-name>-->
            <!--<description>禁止以下http方法的请求</description>-->
            <!--<url-pattern>/*</url-pattern>-->
            <!--<http-method>HEAD</http-method>-->
            <!--<http-method>TRACE</http-method>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint/>-->
    <!--</security-constraint>-->


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/404.html</location>-->
    <!--</error-page>-->

</web-app>

